.wrapper {
  padding: 18px;
}

.link {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 16px;
  color: black;
  background-color: #c6f1fb;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 6px;
  transition: background-color 300ms ease;
}

.link:hover {
  background-color: #2dd2f7;
}

.movieCard {
  display: flex;
  gap: 14px;
}

.subTitle {
  font-weight: 700;
  padding-top: 8px;
}

.subLink {
  color: black;
  transition: color 300ms ease;
}

.subLink:hover {
  color: blue;
}
